.book-info-container {
  display: flex;
  flex-direction: column;
  background-color: #6B6E70;
  color: white;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  .top-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    .left-section {
      display: flex;
      flex: 0 0 60%;

      .cover-image {
        flex: 0 0 30%;
        max-width: 200px;
        max-height: 300px;
        object-fit: cover;
        border-radius: 8px;
      }

      .info {
        flex: 0 0 70%;
        padding-left: 20px;

        .title {
          font-size: 2rem;
          font-weight: bold;
          margin-bottom: 10px;
          margin-top: 0px;
          margin-left: 50px;
        }

        .author,
        .release-year,
        .language,
        .publisher,
        .status {
          font-size: 1.1rem;
          margin-bottom: 5px;
          margin-left: 50px;
        }

        .genres {
          margin: 10px 0;
          display: flex;
          flex-wrap: wrap;
          gap: 8px;
          margin-left: 50px;
          margin-top: 15px;


          .genre-tag {
            background: #444;
            padding: 5px 10px;
            border-radius: 12px;
            font-size: 0.8rem;
            text-transform: capitalize;
          }
        }

        .stats {
          display: flex;
          gap: 10px;
          margin-top: 10px;
          margin-left: 50px;

          span {
            font-size: 0.9rem;
          }
        }
      }
    }

    .right-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 0 0 40%;

      .btn {
        background-color: #B39BC8;
        color: black;
        padding: 10px 20px;
        margin-bottom: 10px;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        width: 40%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: #ff7700;
        }

        &.like-btn {
          font-size: 1.2rem;
        }
      }
    }
  }

  .bottom-section {
    padding: 20px;
    background: #6B6E70;
    border-top: 1px solid #444;

    .description {
      font-size: 0.9rem;
      line-height: 1.5;
    }
  }
}