.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f8f8;
  padding-top: 20px;

  .login-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;

    h1 {
      margin-bottom: 20px;
      font-size: 2rem;
    }

    input {
      width: 90%;
      padding: 15px;
      margin-bottom: 15px;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 1rem;
    }

    .signin-btn,
    .register-btn {
      width: 100%;
      padding: 15px;
      background-color: #ff5400;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin-bottom: 15px;

      &:hover {
        background-color: #e04b00;
      }
    }

    .register-btn {
      background-color: #007bff;

      &:hover {
        background-color: #0056b3;
      }
    }

    .forgot-password {
      display: block;
      margin-top: 15px;
      color: #007bff;
      text-decoration: none;
      font-size: 0.9rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}