.header-container {
  // position: fixed;
  // top: 0;
  // left: 0;
  // width: 100%;
  // z-index: 1000;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #ddd;
  background-color: #fff;

  .header-top {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 10px 20px;

    .header-logo {
      height: 75px;
    }

    .logout-btn {
      padding: 4px 12px;
      border: none;
      border-radius: 4px;
      background-color: #dc3545;
      color: white;
      cursor: pointer;
      font-size: 14px;
      margin-left: 20px;
  
      &:hover {
        background-color: #c82333;
      }
    }

    .account-link {
      padding: 10px 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      text-decoration: none;
      color: #333;
      font-weight: bold;

      &:hover {
        border-color: #666;
      }
    }
  }

  
  .header-bottom {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;



    .header-navigation {
      display: flex;
      gap: 20px;

      .nav-link {
        text-decoration: none;
        color: #333;
        font-weight: bold;

        &:hover {
          color: #007bff;
        }

        .icon {
          margin-right: 5px;
        }
      }
    }

    .header-search {
      display: flex;
      align-items: center;

      .search-input {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 300px;
        margin-right: 5px;
      }

      .search-button {
        padding: 8px;
        background-color: #F172A1;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
}
