.comment-item {
  border: #6B6E70 1px solid;
  // background-color: #474B4F;
  padding: 10px;
  // padding-bottom: 0px;
  // margin: 8px 0;
  border-radius: 5px;
  color: #ddd;
  font-size: 14px;
  width: 90%;
  margin-left: 20px;

  .comment-header {
    display: flex;
    align-items: center;
    gap: 10px;
    // margin-bottom: 5px;

    .user-name {
      color: #e06c75;
      font-weight: bold;
    }

    .comment-time {
      font-size: 12px;
      color: black;
    }
  }

  .comment-body {
    color: black;
    border-radius: 5px;
    padding: 5px;
    background-color: #EEE;
  }
}
